/* Navbar.css */
*{
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: black;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
}