.box1{
    width: 400px;
    margin: 0px auto;
    border: 2px solid grey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
    /* justify-content: space-around;
    align-items: center; */
    background: linear-gradient(violet, blue);
}

.image>img{
    width: 50%;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .para
{
   width: 80%;
   padding: 0px 5px;
} */

button{
    outline: none;
    border: none;
    background-color: white;
}
i {
    cursor: pointer;

}

.main {
    background: linear-gradient(to bottom, grey, white);
    /* background-color: black; */
    /* background: radial-gradient(#4172c2 55%, #32517380); */
    padding: 5% 0%;

}